
.col-sm-7.bg-light.sticky-top
  .d-flex.flex-sm-column.flex-row.flex-nowrap.bg-light.align-items-center.sticky-top
    %a.d-block.p-3.link-dark.text-decoration-none{"data-bs-original-title" => "Icon-only", "data-bs-placement" => "bottom", "data-bs-toggle" => "tooltip", href: "/", title: ""}
      %i.bi-bootstrap.fs-3
    %ul.nav.nav-pills.nav-flush.flex-sm-column.flex-row.flex-nowrap.mb-auto.mx-auto.text-center.justify-content-between.w-100.px-3.align-items-center
      %li.nav-item
        %a.nav-link.py-3.px-2{"data-bs-original-title" => "Home", "data-bs-placement" => "bottom", "data-bs-toggle" => "tooltip", href: chambers_path, title: t("listing_chambers")}
          %i.bi-house.fs-3
      %li
        %a.nav-link.py-3.px-2{"data-bs-original-title" => "Orders", "data-bs-placement" => "bottom", "data-bs-toggle" => "tooltip", href: daily_statements_path, title: t("listing_daily_statements") }
          %i.bi-table.fs-3
      %li
        %a.nav-link.py-3.px-2{"data-bs-original-title" => "Dashboard", "data-bs-placement" => "bottom", "data-bs-toggle" => "tooltip", href: "#", title: t("reports")}
          %i.bi-speedometer2.fs-3
      %li
        %a.nav-link.py-3.px-2{"data-bs-original-title" => "Products", "data-bs-placement" => "bottom", "data-bs-toggle" => "tooltip", href: "#", title: t("favorite_chambers")}
          %i.bi-heart.fs-3
      %li
        %a.nav-link.py-3.px-2{"data-bs-original-title" => "Customers", "data-bs-placement" => "bottom", "data-bs-toggle" => "tooltip", href: "#", title: t("users")}
          %i.bi-people.fs-3
    .dropdown
      %a#dropdownUser3.d-flex.align-items-center.justify-content-center.p-3.link-dark.text-decoration-none.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#"}
        %i.bi-person-circle.h2
      %ul.dropdown-menu.text-small.shadow{"aria-labelledby" => "dropdownUser3"}
        %li
          %a.dropdown-item{href: "#"} New project...
        %li
          %a.dropdown-item{href: "#"} Settings
        %li
          %a.dropdown-item{href: "#"} Profile
    -# .col-sm.p-3.min-vh-100
    -#   / content
    -#   %h2 A glorious Bootstrap 5 icon sidebar menu!
    -#   %hr/
    -#   %h3 More content...
    -#   %p Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics, raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation. Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.
    -#   %p Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies, forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.
    -#   %p Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics, raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation. Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.

